<!--header-->
<header class="header">
  <div class="container">
    <a href="#" class="logo" data-scrollto="section--hero">
      <svg width="40" height="36"><use href="./img/icons.svg#logo"></use></svg>
      <span>Product</span>
    </a>
    <div class="menu-backdrop">
      <button type="button" class="close-area" data-menu-open></button>
      <div class="menu-body">
        <nav class="menu">
          <ul>
            <li class="menu__item"><a href="#" data-scrollto="section--hero">Product</a></li>
            <li class="menu__item"><a href="#" data-scrollto="section--hero">Pricing</a></li>
            <li class="menu__item"><a href="#" data-scrollto="section--hero">Customers</a></li>
            <li class="menu__item"><a href="#" data-scrollto="section--hero">Resources</a></li>
          </ul>
        </nav>
        <div class="header__buttons">
          <button type="button" class="button button--border" data-popup="request">Sign In</button>
          <button type="button" class="button" data-popup="request">Sign Up</button>
          <button type="button" class="tumbler" data-tumbler>Day or night</button>
        </div>
      </div>
    </div>
    <button type="button" class="burger" data-menu-open><span>burger button</span></button>
  </div>
</header>
<!--header end-->
