/*----------------------------------------------- BUTTONS*/

.forBtn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  &.ta--c {
    justify-content: center;
  }
  &.ta--r {
    justify-content: flex-end;
  }
}

.button {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: calc(24 / 16);
  font-weight: 600;
  padding: 8px 24px;
  border-radius: 4px;
  border: 1px solid $button-color;
  background: $button-color;
  color: $white;
  transition: 250ms $cubic;
  cursor: pointer;
  &:hover,
  &:focus {
    border: 1px solid $button-color-hover;
    background: $button-color-hover;
  }
  &.button--border {
    border: 1px solid $grey;
    background: rgba(0, 0, 0, 0);
    color: #173a56;
    &:hover,
    &:focus {
      background: $grey;
    }
  }
  &:disabled {
    opacity: 0.5;
    cursor: auto;
    pointer-events: none;
  }
}

.tumbler {
  @include flex_center();
  width: 32px;
  height: 32px;
  background: #f3f3f3;
  font-size: 0px;
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms $cubic;
  &:before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: $color;
  }
  span {
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $white;
    background: $white;
    box-sizing: border-box;
    overflow: hidden;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0px;
      width: 50%;
      height: 100%;
      background: $color;
      transform: translate(0%, 0%);
      transition: 250ms $cubic;
    }
  }
}

.dark {
  .button {
    &.button--border {
      border: 1px solid $grey;
      background: rgba(0, 0, 0, 0);
      color: $white;
      &:hover,
      &:focus {
        background: $grey;
        color: $black;
      }
    }
  }
  .tumbler {
    background: #62808d;
    span {
      &:before {
        transform: translate(-100%, 0%);
      }
    }
  }
}
