/*----------------------------------------------- TYPOGRAPHY */

.titleBox {
  display: inline-block;
  width: 100%;
  > * {
    display: inline-block;
    width: 100%;
  }
  &.ta--c {
    text-align: center;
  }
  &.ta--r {
    text-align: right;
  }
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: calc(48 / 32);
  &.title--hero {
    @media screen and (max-width: 767px) {
      font-size: 36px;
      line-height: calc(60 / 36);
    }
    @media screen and (min-width: 768px) {
      font-size: 40px;
      line-height: calc(60 / 40);
    }
  }
}

.overtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16);
  margin-bottom: 8px;
}

.subtitle {
  font-size: 18px;
  line-height: calc(28 / 18);
  margin-top: 25px;
}
