:root {
  --color: #02897a;
  --blue: #4d8dff;
  --lila: #740a76;
  --black: #22343d;
  --dark: #30444e;
  --white: #fefefe;
  --grey: #bcd0e5;
  --placeholder: #c4c4c4;
  --button-color: #02897a;
  --button-color-hover: #065f55;
  --red: #f03e3d;
  --backdrop: rgba(48, 68, 78, 0.7);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

$color: var(--color);
$blue: var(--blue);
$lila: var(--lila);
$black: var(--black);
$dark: var(--dark);
$white: var(--white);
$grey: var(--grey);
$red: var(--red);
$placeholder: var(--placeholder);
$button-color: var(--color);
$button-color-hover: var(--button-color-hover);
$backdrop: var(--backdrop);
$cubic: var(--cubic);

@import '_mixins';
@import '_body';
@import '_typography';
@import '_preloader';
@import '_header';
@import '_section-hero';
@import '_buttons';
@import '_footer';
@import '_forms';
@import '_popup';
@import '_swiper';
@import '_animations';
